> .heading-wrapper {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    > .heading {
        &.--desc { 
            color: $gray-light; 
            font-size: .8em; 
            text-transform: uppercase; 
        }
        &.--title { 
            font-size: 1.5em; 
            margin-bottom: 5px;
        }
        &.--subtitle {
            font-size: .9em;
        }
    }
    &::before,
    &::after {
        content: '';
        background: $red;
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 2px;
    }
    &::after {
        bottom: 0;
        width: 50px;
    }
}