// HELPERS

@mixin flexbox ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexbox-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexbox-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin container-padding {
  padding: $container-padding;
}

.serif-light { font-family: $sans-serif-light; }
.sans { font-family: $sans; }
.sans-light { font-family: $sans-light; }